· {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	min-height: 100vh;
}

/*body.light {
	background: radial-gradient(#555, #111);
}*/


/*----------LIGHT BULB----------*/

.bulb {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 40%);
	width: 80px;
	height: 80px;
	background: #444;
	border-radius: 50%;
	z-index: 2;
}

body.light .bulb {
	background: white;
	box-shadow: 0 0 50px white,
		0 0 100px white,
		0 0 150px white,
		0 0 200px white,
		0 0 250px white,
		0 0 350px white,
		0 0 450px white;
	transition: 1s;
}

.bulb::before {
	content: "";
	position: absolute;
	top: -50px;
	left: 22.5px;
	width: 35px;
	height: 80px;
	background: #444;
	border-top: 30px solid #121212;
	border-radius: 10px;


}

body.light .bulb::before {
	background: white;
	transition: 1s;
}

body.light .bulb::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	height: 120px;
	background: #fff;
	border-radius: 50%;
	filter: blur(40px);
	transition: 1s;
}

.bulb span:nth-child(1) {
	position: absolute;
	top: -11px;
	left: 3.0px;
	display: block;
	width: 22px;
	height: 22px;
	background: transparent;
	transform: rotate(345deg);
	border-bottom-right-radius: 50px;
	box-shadow: 12px 12px 0 5px #444;

}

body.light .bulb span:nth-child(1) {
	box-shadow: 12px 12px 0 5px white;
	transition: 1s;
}


.bulb span:nth-child(2) {
	position: absolute;
	top: -11px;
	right: 3px;
	display: block;
	width: 22px;
	height: 22px;
	background: transparent;
	transform: rotate(15deg);
	border-bottom-left-radius: 50px;
	box-shadow: -12px 12px 0 5px #444;

}

body.light .bulb span:nth-child(2) {
	box-shadow: -12px 12px 0 5px white;
	transition: 1s;
}


.wire {
	position: absolute;
	left: calc(50% - 2px);
	bottom: 60%;
	width: 4px;
	height: 40vh;
	background: #121212;
	z-index: 1;
}

/*----------SWITCH----------*/

/* Hide default HTML checkbox */
.switch input {
	appearance: none;
}

/* The switch - the box around the slider */
.switch {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -80%);
	width: 150px;
	height: 55px;
	border-radius: 34px;
	border: 5px solid white;
	background: black;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

.slider:before {
	position: absolute;
	content: "";
	top: 8%;
	left: 5%;
	width: 45px;
	height: 45px;
	background: white;
	border-radius: 50%;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 1s;
}


input:checked+.slider:before {
	-webkit-transform: translateX(200%);
	-ms-transform: translateX(200%);
	transform: translateX(200%);
}

.text {
	color: red;
	font-size: 20px;
	font-family: Krungthep;
}


.text:after {
	content: 'ON';
	display: block;
	position: absolute;
	top: 25%;
	left: 70%;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;

}

.text:before {
	content: 'OFF';
	display: block;
	position: absolute;
	top: 25%;
	left: 15%;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out
}


input+.slider+.text:after {
	opacity: 1;
}

input+.slider+.text:before {
	opacity: 0;
}


input:checked+.slider+.text:after {
	opacity: 0;
}

input:checked+.slider+.text:before {
	opacity: 1;
}



/*----------HEADERS----------*/

h2 {
	font-family: Krungthep;
	font-size: 100px;
	color: black;

}

body.light h2 {
	color: white;

}

a {
	color: black;
	text-decoration: none !important;
	pointer-events: none;
	/* Make links not clickable*/
}

body.light a {
	color: white;
	text-decoration: none !important;
	pointer-events: auto;
}

.work-title {
	position: relative;
	top: 20%;
	left: 20%;
	transform: translate(-20%, -20%);
}

.aboutme-title {
	position: relative;
	top: 10%;
	left: -15%;
	transform: translate(15%, -10%);
}